<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Register Number</th>
                <th>Department</th>
                <th>CGPA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.name }}</td>
                <td>{{ item.regno }}</td>
                <td>{{ item.dpmt }}</td>
                <td>{{ item.cgpa }}</td>
            </tr>
        </tbody>
    </table>
</div>