<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="https://assets-global.website-files.com/5a9ee6416e90d20001b20038/64b3d538e9d79e7ecf7dce4e__28.png" alt="logo">
    <a class="navbar-brand" routerLink="/"><b>E-SPARE</b></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart</a>
        </li>
      </ul>
    </div>
  
    <a routerLink="/cart" class="cart-link">
      <img class="cart-icon" src="https://www.freeiconspng.com/thumbs/cart-icon/basket-cart-icon-27.png" alt="Cart">
    </a>
  </nav>
  