<div class="container">
  <div class="page-header">
    <h1>Confirm Order</h1>
</div>
    <div class="order-summary">
      <h2>Order Summary</h2>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartService.cartItems">
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price | currency }}</td>
            <td>{{ item.product.price * item.quantity | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h3 class="total">Total: {{ getTotal() | currency }}</h3>
    <div class="payment-details">
        <h3>Payment Details</h3>
        <ul>
          <li>
            <input type="radio" name="paymentOption" id="creditCard" value="creditCard">
            <label for="creditCard">Pay using Credit Card</label>
          </li>
          <li>
            <input type="radio" name="paymentOption" id="cashOnDelivery" value="cashOnDelivery">
            <label for="cashOnDelivery">Cash on Delivery (COD)</label>
          </li>
          <li>
            <input type="radio" name="paymentOption" id="wallet" value="wallet">
            <label for="wallet">Pay using Wallet</label>
          </li>
          <li>
        <button class="pay-button" routerLink="/checkout-page">Checkout</button>
        <button class="cancel-button" routerLink="/catalogue">Cancel</button>
        </li>
    </ul>
      </div>
      
  </div>
  