body {
    font-family: Arial, sans-serif;
  }
 
  .navbar {
    background-color: antiquewhite;
    overflow: hidden;
  }
 
  .navbar .nav-link {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  .navbar .nav-link:hover {
    background-color: white;
    color: red;
  }