
  h1{
    text-align: center;
    color:#d3263a;
  }
  table {
    border-collapse: collapse;
    width: 60%;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border: 5px solid #616A6B ;
  }
  
  tr:hover {background-color: coral;}

  h2{
    text-decoration: underline;
  }