<body><h1 style="text-align: center;">SAMSUNG</h1>
<div class="product-list">
    <div class="product-card">
      <h2>SAMSUNG S23</h2>
      <p>he Samsung Galaxy S23 specs are top-notch including a Snapdragon 8 Gen 2 chipset, 8GB RAM coupled with 128/256GB storage, and a 3900mAh battery.</p>
      <p>Rs.95000</p>
      <button (click)="addToCart({id: 1, name: 'SAMSUNG S23', price: 95000})">Add to Cart</button>
    </div>
    <div class="product-card">
      <h2>SAMSUNG S23 ULTRA</h2>
      <p>The Samsung Galaxy S23 Ultra is powered by Snapdragon 8 Gen 2 for Galaxy, the fastest Snapdragon ever. It features an accelerated Qualcomm® Kryo™ CPU with up to 3.36GHz peak speeds, providing superior performance when you need it most</p>
      <p>Rs.102000</p>
      <button (click)="addToCart({id: 2, name: 'SAMSUNG S23 ULTRA', price: 102000})">Add to Cart</button>
    </div>
    <div class="product-card">
      <h2>SAMSUNG S24</h2>
      <p>The Galaxy S24 Series introduces advanced intelligence settings, giving you control over AI processing for enhanced functionality</p>
      <p>Rs.Rs.80000</p>
      <button (click)="addToCart({id: 3, name: 'SAMSUNG S24', price: 80000})">Add to Cart</button>
    </div>
    <div class="product-card">
      <h2>SAMSUNG S24 PLUS</h2>
      <p>The Galaxy S24 Plus falls shy of its Ultra sibling, but it's still a phone well worth considering. It has an excellent display and feels great in the hand, which goes a long way toward making it a joy to use</p>
      <p>Rs.98000</p>
      <button (click)="addToCart({id: 4, name: 'SAMSUNG S24 PLUS', price: 98000})">Add to Cart</button>
    </div>
    <div class="product-card">
      <h2>SAMSUNG S24 ULTRA</h2>
      <p>The new Galaxy S24 Ultra makes the most of Snapdragon 8 Gen 3's on-device AI capabilities, and that's not just for AI-powered features alone.</p>
      <p>Rs.123000</p>
      <button (click)="addToCart({id: 5, name: 'SAMSUNG S24 ULTRA', price:123000})">Add to Cart</button>
    </div>
  </div>